# Clean this mess up after testing
data/black_sea_bass/
data/nc_out_full/
data/strata/
erddap/
env/
glorys-comparison/
test/

fishbot_archive*
intermediate_data.csv
overlapping_data.csv
readme.md
*.sh
*.ipynb
.env