# History files
.Rhistory
.Rapp.history
.Rproj.user

# Session Data files
.RData

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/

# local folders
/figures

# python environemnt stuff
python/env/
python_tools/

python/glory*/
python/data/local_data/

*.png
fishbot*.nc
*.log*
*.log
*.sh
*.env
*.ipynb
*.list


