# History files
.Rhistory
.Rapp.history
.Rproj.user

# Session Data files
.RData

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/

# local folders
/figures

# python local testing
python_tools/



data/local_data/
env/

*.png
fishbot*.nc

*.sh
*.env
*.ipynb
*.list


