# Dataset configuration for various oceanographic datasets
# This file contains the server URLs, dataset IDs, protocols, response formats,
# and variables for each dataset used in the application.
# The live lambda function will load this file dynamically.
#-----------------------------------------------------------------------------
# Note: The 'studyfleet' dataset is loaded from a local CSV file, so it does not have server or protocol information here.

{
    "cfrf": {
        "server": "https://erddap.ondeckdata.com/erddap/",
        "dataset_id": ["fixed_gear_oceanography", "shelf_fleet_profiles_1m_binned", "wind_farm_profiles_1m_binned"],
        "protocol": ["tabledap", "tabledap", "tabledap"],
        "response": ["nc", "nc", "nc"],
        "variables": [
            ["time", "latitude", "longitude", "temperature",
                "dissolved_oxygen", "tow_id"],  # for fixed_gear_oceanography
            ["time", "latitude", "longitude", "conservative_temperature",
                "sea_pressure", "profile_id", "absolute_salinity"],
            ["time", "latitude", "longitude", "conservative_temperature",
                "sea_pressure", "profile_id", "absolute_salinity"]
        ]
    },
    "emolt": {
        "server": "https://erddap.emolt.net/erddap/",
        "dataset_id": ["eMOLT_RT", "eMOLT_RT_LOWELL"],
        "protocol": ["tabledap", "tabledap"],
        "response": ["nc", "nc"],
        "constraints": {
            "eMOLT_RT": {
                "segment_type=": 3
            },
            "eMOLT_RT_LOWELL": {
                "water_detect_perc>": 60,
                "DO>": 0,
                "temperature>": 0,
                "temperature<": 27
            }
        },
        "variables": [
            ["time", "latitude", "longitude",
                "temperature", "tow_id"],  # for eMOLT_RT
            ["time", "latitude", "longitude", "temperature", "DO", "tow_id"]
        ]
    },
    "studyfleet": {
        "server": "",
        "dataset_id": [],  # This will be loaded locally from a CSV file
        "protocol": [],
        "response": [],
    },
    "ecomon": {
        "server": "https://comet.nefsc.noaa.gov/erddap/",
        "dataset_id": ["ocdbs_v_erddap1"],
        "protocol": ["tabledap"],
        "response": ["nc"],
        "constraints": {"ocdbs_v_erddap1": {
            "GEAR_TYPE!=": 'Bottle',
            "latitude>": 34,
            "dissolved_oxygen>": 0
        }
        },

        "variables": [
            ["UTC_DATETIME", "latitude", "longitude", "sea_water_temperature", "pressure_dbars",
             "dissolved_oxygen", "sea_water_salinity", "cast_number", "cruise_id"]
        ]
    },
    "archive": {
        "server": "https://erddap.ondeckdata.com/erddap/",
        "dataset_id": ["fishbot_realtime"],
        "protocol": ["tabledap"],
        "response": ["nc"]
    }
}